<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/navigation :: head"></head>

<body>

<div th:replace="fragments/navigation :: nav"></div>


  <div class="middle-container">
    <h1 class="Employee" style="padding-bottom:30px;padding-top:70px;">Employees</h1>
  </div>


	

  <div style="margin-top:20px;" class="table1">
    <a th:href = "@{/showNewEmployeeForm}" class="btn btn-primary btn-sm mb-3"> + Add Employee </a>
    <table class="table table-striped table-dark table-responsive-md">
      <thead>
        <tr>
          <th scope="col"><a th:href="@{'/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">
            Id</a></th>
          <th scope="col"><a th:href="@{'/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
            First Name</a></th>
          <th scope="col"><a th:href="@{'/page/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">
            Last Name</a></th>
<!--          <th scope="col">Age</th>-->
<!--          <th scope="col">Car category</th>-->
<!--          <th scope="col">time in organization</th>-->
          <th scope="col"><a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
            Email</a></th>
          <th scope="col"><a th:href="@{'/page/' + ${currentPage} + '?sortField=funcLvl&sortDir=' + ${reverseSortDir}}">
            Functional Level</a></th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="employee: ${listEmployees}">
          <td th:text="${employee.id}"></td>
          <td th:text="${employee.firstName}"></td>
          <td th:text="${employee.lastName}"></td>
          <td th:text="${employee.email}"></td>
          <td th:text="${employee.funcLvl}"></td>

          <td>
            <a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}" ><img style="margin-left:20px;margin-right:18px;" class="editIcon" src="../images/edit.png">
            </a>
            <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}"><img class="editIcon" src="../images/trash.png"> </a>
          </td>
        </tr>
      </tbody>
    </table>

    <div th:if = "${totalPages > 1}">
      <div class = "row col-sm-10">
        <div class = "col-sm-2">
          Total Rows: [[${totalItems}]]
        </div>
        <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
        </div>
        <div class = "col-sm-1">
          <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
          <span th:unless="${currentPage < totalPages}">Next</span>
        </div>

        <div class="col-sm-1">
          <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
          <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
      </div>
    </div>


  </div>

<div th:replace="fragments/navigation :: footer"></div>

</body>

</html>